g
*.pidb
*.service

# Build resultsThe following problems have occurred when adding the files: CRLF would be replaced by LF in .idea/.idea.ReplicatedKeyValueStore/.idea/indexLayout.xml
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# MSTest & other test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Visual Studio code coverage
*.coverage
*.coveragexml

# Other files
*.tmp
*.temp
*.cache
*~
*.swp
.idea/


